@import 'tailwindcss';

body {
  background: var(--color-zinc-900);
  font-style: normal;
  font-weight: normal;
  font-family: 'Noto Sans TC', sans-serif;
  font-optical-sizing: auto;
}

@theme {
  --animate-fade-in: fade-in 0.2s ease-in-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
